<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h1>Latest From Our Blogs</h1>
            <ul class="pages-link">
                 <li><a routerLink="/">Home</a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/socialmediablog" class="image">
                                <img src="../../../../assets/images/blogs/13 Easy Ways to increase Social Media Engagement..webp" alt="Image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <i class="ri-calendar-2-line"></i>
                                        November 7, 2021
                                    </li>
                                    <li>
                                        <i class="ri-price-tag-3-line"></i>
                                        Education
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/socialmediablog">
                                        Top 13 best ways to increase social media engagement.
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/aws-tool-blog" class="image">
                                <img src="../../../../assets/images/blogs/Top 10 Proven Advantages and Tools of AWS Migration..webp" alt="Image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <i class="ri-calendar-2-line"></i>
                                        November 6, 2021
                                    </li>
                                    <li>
                                        <i class="ri-price-tag-3-line"></i>
                                        Education
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/aws-tool-blog">
                                        Top 10 Proven Advantages and Tools of AWS Migration.
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-details" class="image">
                                <img src="../../../../assets/images/blogs/Advantages_of_Tensor_Flow_for_Machine_Learning_Applications..webp" alt="Image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <i class="ri-calendar-2-line"></i>
                                        November 5, 2021
                                    </li>
                                    <li>
                                        <i class="ri-price-tag-3-line"></i>
                                        Education
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/blog-details">
                                        Advantages of Tensor Flow for Machine Learning Applications.

                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-details" class="image">
                                <img src="../../../../assets/images/blogs/Difference_between_AWS_Azure_and_Google_Cloud_Platform..webp" alt="Image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <i class="ri-calendar-2-line"></i>
                                        November 4, 2021
                                    </li>
                                    <li>
                                        <i class="ri-price-tag-3-line"></i>
                                        Education
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/blog-details">
                                        Difference between AWS, Azure, and Google Cloud Platform.

                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-details" class="image">
                                <img src="../../../../assets/images/blogs/Top_10_JAVA_Development_Tools_for_Fast_Project_Execution.webp" alt="Image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <i class="ri-calendar-2-line"></i>
                                        November 3, 2021
                                    </li>
                                    <li>
                                        <i class="ri-price-tag-3-line"></i>
                                        Education
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/blog-details">
                                        Top 10 JAVA Development Tools for Fast Project Execution

                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-details" class="image">
                                <img src="../../../../assets/images/blogs/Top_50_Mule_soft_Interview_Questions& Answers.webp" alt="Image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <i class="ri-calendar-2-line"></i>
                                        November 2, 2021
                                    </li>
                                    <li>
                                        <i class="ri-price-tag-3-line"></i>
                                        Education
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/blog-details">
                                        Top 50 Mule soft Interview Questions & Answers

                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a routerLink="/blog" class="prev page-numbers"><i class="ri-arrow-left-line"></i></a>
                            <a routerLink="/blog" class="page-numbers">1</a>
                            <span class="page-numbers current" aria-current="page">2</span>
                            <a routerLink="/blog" class="page-numbers">3</a>
                            <a routerLink="/blog" class="page-numbers">4</a>
                            <a routerLink="/blog" class="next page-numbers"><i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-12">
                <app-widget-sidebar></app-widget-sidebar>
            </div> -->
        </div>
    </div>
</div>

<app-footer></app-footer>