<div  style="background-color: #f5f4f9;padding-top: 50px;"
    class="popular-courses-area pb-100 "
    [ngClass]="{'pt-100' : router?.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title left-title">
            <h2>TRENDING CLASSES
                
            </h2><br/>
            <span >Improve your Knowledge &amp; Intelligence with Nipuna Technologies</span>
        </div>
        <div class="courses-tabs">
            <ngx-tabset>
                <ngx-tab tabTitle="IT Courses">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/c-language-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../../assets/images/course/c-language-training-institute-guntur.webp" alt="C language training institute guntur">

                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/c-language-training-institute-guntur">
                                            C Language
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4 - 6 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <p class="mb-0"> Enroll in <b> C Language in Guntur </b> 
                                        at Nipuna technologies, the <b>Best C Language Training institute</b> 
                                        in Guntur to develop your skills. </p>
                                  
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/Python-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../../assets/images/course/best-python-training-institute-guntur-with-placement.webp" alt="Best python training institute guntur with 100% placement">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/Python-training-institute-guntur">
                                            Python Full Stack
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-6 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <p class="mb-0">Enroll in <b>Python Full Stack Course  in Guntur </b>
                                        at Nipuna technologies, the <b>Python Full Stack Training institute </b> 
                                        in Guntur</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/java-fullstack-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/java-course-training-institute-guntur.webp" alt="Java course training institute guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/java-fullstack-training-institute-guntur">
                                            Java Full Stack
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Java Full Stack Course in Guntur</b> 
												at Nipuna technologies, the <b>Java Full Stack 
													Training institute </b> in Guntur. </p> </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/oracle-sql-plsql-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/oracle-sql-plsql-training-course-institute-guntur.webp" alt="oracle sql plsql training course institute guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/oracle-sql-plsql-training-institute-guntur">
                                            Oracla Sql Pl/Sql
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <p class="mb-0">Enroll in <b>Oracle Sql Pl/Sql Course in Guntur</b> at Nipuna 
                                        technologies, the <b>Best Oracle Sql Pl/Sql Training</b> institute in Guntur to develop your skills. </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/webdesign-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/best-webdesigining-course-guntur.webp" alt="Best Webdesign Course guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/webdesign-training-institute-guntur">
                                            Web Technologies  </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4 - 6 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Web Technologies in Guntur</b> 
												at Nipuna technologies, the <b>Best Web Technologies institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
											 </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/devops-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/devops-training-institute-guntur.webp" alt="Devops Training institute guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/devops-training-institute-guntur">
                                            Devops                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Devops Course in Guntur</b> at Nipuna technologies, 
												the <b>Best Devops Training institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
											
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/angular-js-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/angular-js-course-guntur.webp" alt="Angular Js course guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/angular-js-training-institute-guntur">
                                            Angular JS   </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-6 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           3 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Angular Js Course in Guntur</b> at Nipuna 
												technologies, the <b>Best Angular Js Training</b> institute in Guntur to develop your skills. </p>

                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div> 
                         <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/msoffice-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/ms-office-training-institute-guntur.webp" alt="Ms-office training course guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/msoffice-training-institute-guntur">
                                            MS Office                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            2-3 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>MS Office in Guntur</b> 
												at Nipuna technologies, the <b>Best MS Office institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
											
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>  <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/Python-with-Django-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/python-django-course-guntur.webp" alt="Python Django course guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/Python-with-Django-training-institute-guntur">
                                            Python with Django                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                        	<p class="mb-0">Enroll in <b>Python with Django in Guntur</b> at Nipuna technologies, 
												the <b>Best Python with Django Training institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
											
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                      
                    
                    </div>
                    </ngx-tab>
                <ngx-tab tabTitle="Job Oriented" >
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/Graphicdesigning-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../../assets/images/course/Graphic_Designing.webp" alt="Graphic Designing Course guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/Graphicdesigning-training-institute-guntur">
                                            Graphic Designing
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                           60  days
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           1 Hour
                                        </li>
                                    </ul>
                                    <p class="mb-0">Enroll in <b>Graphic Designing Course  in Guntur </b>
                                        at Nipuna technologies, the <b>Graphic Designing Training institute </b> 
                                        in Guntur</p>
                                  
                                  
                                  
                                
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/Dtp-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../../assets/images/course/DTP_Training_Institute_Guntur.webp" alt="Dtp Training institutions Guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/Dtp-training-institute-guntur">
                                            DTP
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            60 Days
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           1 Hour 
                                        </li>
                                    </ul>
                                    <p class="mb-0"> Enroll in <b> DTP Course in Guntur </b> 
                                        at Nipuna technologies, the <b>Best DTP Training institute</b> 
                                        in Guntur to develop your skills. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/hardware-and-networking-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../../assets/images/course/Computer_Hardware_and_Networking_training_Guntur.webp" alt="computer hardware networking training institute guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/hardware-and-networking-training-institute-guntur">
                                            Hard Ware & Networking
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                           60 Days
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           1 hour
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Hardware & Networking Course in Guntur</b> 
												at Nipuna technologies, the <b>Best HW & NW 
													Training institute </b> in Guntur. </p> </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/java-fullstack-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/java-course-training-institute-guntur.webp" alt="Java course training institute guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/java-fullstack-training-institute-guntur">
                                            Java Full Stack
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Java Full Stack Course in Guntur</b> 
												at Nipuna technologies, the <b>Java Full Stack 
													Training institute </b> in Guntur. </p> </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/aws-training-institute-guntur" class="courses-img">
                                    <img  loading="lazy" src="../../../../assets/images/course/aws-training-guntur.webp" alt="Aws Training institute guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/aws-training-institute-guntur">
                                            AWS                                     </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4 - 6 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           3 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>AWS Course in Guntur</b> at Nipuna technologies, the <b>Best AWS Training institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/ITCourses/Python-with-Django-training-institute-guntur" class="courses-img">
                                    <img loading="lazy" src="../../../../assets/images/course/python-django-course-guntur.webp" alt="python django course guntur">
                                     
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/ITCourses/Python-with-Django-training-institute-guntur">
                                            Python with Django                                       </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4 - 6 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           3 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Python with Django in Guntur</b> at Nipuna technologies, 
												the <b>Best Python with Django Training institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
											
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                      
                      
                    
                    </div>
                </ngx-tab>
           <ngx-tab tabTitle="Cad Courses">
<div class="row">
    <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="single-course-item">
            <a routerLink="/CADCourses/Autocad-training-institute-guntur" class="courses-img">
                <img  loading="lazy" src="../../../../../assets/images/course/autocad-civil-course-guntur.webp" alt="Autocad civil course guntur">
                 
                <!-- <span class="price">$25.00</span> -->
            </a>
            <div class="courses-content">
                <h3>
                    <a routerLink="/CADCourses/Autocad-training-institute-guntur">
                        AutoCad                                     </a>
                </h3>
                <ul class="review">
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><span>487 reviews</span></li>
                </ul>
                  <ul class="status d-flex justify-content-between align-items-center">
                    <li>
                        <b>Duration:</b>
                        4 - 6 Months
                    </li>
                    <li>
                       <b>Daily:</b>
                       3 Hours
                    </li>
                </ul>
                <ul class="author d-flex justify-content-between align-items-center">
                    <li>
                        <p class="mb-0"> Enroll in <b> Auto cad Course in Guntur </b> 
                            at Nipuna technologies, the <b>Best Auto Cad Training institute</b> 
                            in Guntur. </p>
                    </li>
                 
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="single-course-item">
            <a routerLink="/CADCourses/autocad-3dsmax-training-institute-guntur" class="courses-img">
                <img loading="lazy" src="../../../../assets/images/course/3ds-max-course-guntur.webp" alt="3ds max course guntur">
                 
                <!-- <span class="price">$25.00</span> -->
            </a>
            <div class="courses-content">
                <h3>
                    <a routerLink="/CADCourses/autocad-3dsmax-training-institute-guntur">
                        3Ds Max                                    </a>
                </h3>
                <ul class="review">
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><span>487 reviews</span></li>
                </ul>
                  <ul class="status d-flex justify-content-between align-items-center">
                    <li>
                        <b>Duration:</b>
                        4 - 6 Months
                    </li>
                    <li>
                       <b>Daily:</b>
                       3 Hours
                    </li>
                </ul>
                <ul class="author d-flex justify-content-between align-items-center">
                    <li>
                        <p class="mb-0">Enroll in <b>3Ds max Course  in Guntur </b> at Nipuna technologies, 
                            the <b>3Ds Max Training institute </b> in Guntur to develop your skills. </p>
                    </li>
                 
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="single-course-item">
            <a routerLink="/CADCourses/revit-architechure-training-institute-guntur" class="courses-img">
                <img loading="lazy" src="../../../../assets/images/course/revit-training-guntur.webp" alt="Revit Training guntur">
                 
                <!-- <span class="price">$25.00</span> -->
            </a>
            <div class="courses-content">
                <h3>
                    <a routerLink="/CADCourses/revit-architechure-training-institute-guntur">
                        Revit                                   </a>
                </h3>
                <ul class="review">
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><span>487 reviews</span></li>
                </ul>
                  <ul class="status d-flex justify-content-between align-items-center">
                    <li>
                        <b>Duration:</b>
                        4 - 6 Months
                    </li>
                    <li>
                       <b>Daily:</b>
                       3 Hours
                    </li>
                </ul>
                <ul class="author d-flex justify-content-between align-items-center">
                    <li>
                        <p class="mb-0">Enroll in <b>Revit  Course in Guntur</b> at Nipuna technologies, the 
                            <b>Best Revit Training institute </b> in Guntur. </p> </li>
                 
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="single-course-item">
            <a routerLink="/CADCourses/autocad-civil-3d-training-institute-guntur" class="courses-img">
                <img loading="lazy" src="../../../../assets/images/course/autocad-civil-3d-training-guntur.webp" alt="autocad civil 3D training guntur">
                 
                <!-- <span class="price">$25.00</span> -->
            </a>
            <div class="courses-content">
                <h3>
                    <a routerLink="/CADCourses/autocad-civil-3d-training-institute-guntur">
                        Autocad Civil 3D  </a>
                </h3>
                <ul class="review">
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><span>487 reviews</span></li>
                </ul>
                  <ul class="status d-flex justify-content-between align-items-center">
                    <li>
                        <b>Duration:</b>
                        4 - 6 Months
                    </li>
                    <li>
                       <b>Daily:</b>
                       3 Hours
                    </li>
                </ul>
                <ul class="author d-flex justify-content-between align-items-center">
                    <li>
                        <p class="mb-0">Enroll in <b> AutoCad Civil 3D  Course in Guntur</b> 
                            at Nipuna technologies, the <b>Best AutoCad Civil 3D Training</b> 
                            institute in Guntur to develop your skills. </p> </li>
                 
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="single-course-item">
            <a routerLink="/CADCourses/etabs-training-institute-guntur" class="courses-img">
                <img  loading="lazy" src="../../../../assets/images/course/etabs-course-guntur.webp" alt="ETABS Course guntur">
                 
                <!-- <span class="price">$25.00</span> -->
            </a>
            <div class="courses-content">
                <h3>
                    <a routerLink="/CADCourses/etabs-training-institute-guntur">
                        ETABS                                   </a>
                </h3>
                <ul class="review">
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><span>487 reviews</span></li>
                </ul>
                  <ul class="status d-flex justify-content-between align-items-center">
                    <li>
                        <b>Duration:</b>
                        4 - 6 Months
                    </li>
                    <li>
                       <b>Daily:</b>
                       3 Hours
                    </li>
                </ul>
                <ul class="author d-flex justify-content-between align-items-center">
                    <li>
                        <p class="mb-0">Enroll in <b>Etabs Course in Guntur</b> 
                            at Nipuna technologies, the <b>Best Etabs Training 
                                institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
                         </li>
                 
                </ul>
            </div>
        </div>
    </div>
</div>
           </ngx-tab>
            
             
             
            </ngx-tabset>
        </div>
        <div class="register-free abc">
            <p>Enjoy top learning methods and master the next level! You are the creator of your own career and we will guide you through it.<a routerLink="/contact"> Contact Us Now! </a></p>
        </div>
    </div>
</div>