
@import "../../../components/pages/courses-details-page/courses-details-page.component.scss";

.Heading{
    padding-left: 5px;
}

.lesson-lists{
    padding-top: 5px;
}

li {
    padding-top: 12px
;
    /* padding-right: 6px; */
}

li.text-default-dark {
    padding-top: 20px;
}

.h3{
    padding-top:30px;
}

.h5{
    padding-top: 30px;
}

h5 {
    padding-top: 30px;
}

