<!-- Blog -->
<!--<div class="blog-area bg-color-fdfcfc pt-30 pb-50">
    <div class="container">
        <div class="section-title">
            <h2>Latest From Our Blogs</h2>
        </div>
        <div class="categories-area pb-30 pt-50" [ngClass]="{'bg-color-f2f7fa pt-100' : router?.url === '/index-2'}">
            <div class="container">
               
                <div class="categories-slide" [ngClass]="{'style-two' : router?.url === '/index-2'}">
                    <owl-carousel-o [options]="categoriesSlides">
                        <ng-template carouselSlide>

                            <div class="single-blog-post">
                                <a routerLink="/blog-details" class="image">
                                    <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                                </a>
                                <div class="content">
                                    <ul class="meta">
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            November 7, 2021
                                        </li>
                                        <li>
                                            <i class="ri-price-tag-3-line"></i>
                                            Education
                                        </li>
                                    </ul>
                                    <h3>
                                        <a routerLink="/blog-details">
                                            All That Is Wrong With Codding In The Field Of Apprentices
                                        </a>
                                    </h3>
                                </div>
                            </div>

                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-blog-post">
                                <a routerLink="/blog-details" class="image">
                                    <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                                </a>
                                <div class="content">
                                    <ul class="meta">
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            November 7, 2021
                                        </li>
                                        <li>
                                            <i class="ri-price-tag-3-line"></i>
                                            Education
                                        </li>
                                    </ul>
                                    <h3>
                                        <a routerLink="/blog-details">
                                            All That Is Wrong With Codding In The Field Of Apprentices
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-blog-post">
                                <a routerLink="/blog-details" class="image">
                                    <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                                </a>
                                <div class="content">
                                    <ul class="meta">
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            November 7, 2021
                                        </li>
                                        <li>
                                            <i class="ri-price-tag-3-line"></i>
                                            Education
                                        </li>
                                    </ul>
                                    <h3>
                                        <a routerLink="/blog-details">
                                            All That Is Wrong With Codding In The Field Of Apprentices
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-blog-post">
                                <a routerLink="/blog-details" class="image">
                                    <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                                </a>
                                <div class="content">
                                    <ul class="meta">
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            November 7, 2021
                                        </li>
                                        <li>
                                            <i class="ri-price-tag-3-line"></i>
                                            Education
                                        </li>
                                    </ul>
                                    <h3>
                                        <a routerLink="/blog-details">
                                            All That Is Wrong With Codding In The Field Of Apprentices
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-blog-post">
                                <a routerLink="/blog-details" class="image">
                                    <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                                </a>
                                <div class="content">
                                    <ul class="meta">
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            November 7, 2021
                                        </li>
                                        <li>
                                            <i class="ri-price-tag-3-line"></i>
                                            Education
                                        </li>
                                    </ul>
                                    <h3>
                                        <a routerLink="/blog-details">
                                            All That Is Wrong With Codding In The Field Of Apprentices
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-blog-post">
                                <a routerLink="/blog-details" class="image">
                                    <img src="assets/images/blogs/blog-1.jpg" alt="Image">
                                </a>
                                <div class="content">
                                    <ul class="meta">
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            November 7, 2021
                                        </li>
                                        <li>
                                            <i class="ri-price-tag-3-line"></i>
                                            Education
                                        </li>
                                    </ul>
                                    <h3>
                                        <a routerLink="/blog-details">
                                            All That Is Wrong With Codding In The Field Of Apprentices
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>-->