<div 
    class="categories-area pb-70 pt-50"
>
    <div class="container" style="padding-top: 50px;">
        <div class="section-title left-title">
            <h2>Explore The Categories</h2>
        </div>
        <div 
            class="categories-slide"
            
        >
            <owl-carousel-o [options]="categoriesSlides">
                <ng-template carouselSlide>
                    <div 
                        class="single-categories-item"
                        
                    >
                        <a routerLink="/courses" class="categories-img">
                            <img src="../../../../assets/images/Latest/photoshop.webp" alt="Image">
                        </a>
                        <h3><a routerLink="/courses">Photoshop</a></h3>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div 
                        class="single-categories-item"
                       
                    >
                        <a routerLink="/Autocad-training-institute-guntur" class="categories-img">
                            <img src="../../../../assets/images/Latest/autocad.webp" alt="Image">
                        </a>
                        <h3><a routerLink="/Autocad-training-institute-guntur">Auto Cad</a></h3>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div 
                        class="single-categories-item"
                        
                    >
                        <a routerLink="/Seo-training-institute-guntur" class="categories-img">
                            <img src="../../../../assets/images/Latest/digitalmarketing.webp" alt="Image">
                        </a>
                        <h3><a routerLink="/Seo-training-institute-guntur">Digital Marketing</a></h3>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div 
                        class="single-categories-item"
                        
                    >
                        <a routerLink="/dot-net-training-institute-guntur" class="categories-img">
                            <img src="../../../../assets/images/Latest/dotnet.webp" alt="Image">
                        </a>
                        <h3><a routerLink="/dot-net-training-institute-guntur">Dot Net</a></h3>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div 
                        class="single-categories-item"
                        
                    >
                        <a routerLink="/webdesign-training-institute-guntur" class="categories-img">
                            <img src="../../../../assets/images/Latest/webtechnologies.webp" alt="Image">
                        </a>
                        <h3><a routerLink="/webdesign-training-institute-guntur">Web Technologies</a></h3>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div 
                        class="single-categories-item"
                        
                    >
                        <a routerLink="/oracle-sql-plsql-training-institute-guntur" class="categories-img">
                            <img src="../../../../assets/images/Latest/Oracle.webp" alt="Image">
                        </a>
                        <h3><a routerLink="/oracle-sql-plsql-training-institute-guntur"> Oracle</a></h3>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
