<app-navbar></app-navbar>
  

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content text-start">
            <h1>
                IT Training Courses in Guntur, IT courses, Software courses Training with a job guarantee
            </h1>
            <div class="review">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <span>5.00 (15)</span>
            </div>

            <ul class="pages-link">
                 <li><a routerLink="/">Home</a></li>
                <li>Courses Details</li>
                <li class="active"> IT Courses </li>
            </ul>
        </div>
    </div>
</div>

<!-- Courses Details -->
<div class="courses-details-area bg-color-f2f7fa">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="overview ptb-100">
                    <ngx-tabset>

                        <ngx-tab tabTitle="Overview">

                            <div class="overview-content">
                                <div class="tab-pane active" id="tab-1">

                                    <h3 class="card-title mb-3 font-weight-bold"> IT Training Courses in Guntur </h3>
                                    <div class="mb-0 description">
                                        <p> Nipuna Technologies offers Software Training Courses in Guntur. This course is designed to train our students in the basic to advanced concepts of Software Courses. Information technology (IT) and software are high in demand and are fast-growing industries. Information Technology is rapidly becoming a critical part of the management and operation of any business. Learn multiple technologies such as Java full-stack, Python full-stack, Data Science, Digital marketing, AWS, Azure, Artificial intelligence, Cyber Security, Power BI, Tableau, Web technologies, .Net, SQL/PlSQL, Angular Js, and many more. Therefore, more companies are searching for IT specialists. </p>
                                        <p> The industry of IT offers many career options, including Data Science, and cloud computing specialists. You can develop and build valuable and informative skills by completing an IT course offered by Nipuna technologies. Our training will allow you to pursue a rewarding and excellent career in the most dynamic sectors.</p>
                                        

                                    </div>

                                    <h3 class="card-title mb-3 font-weight-bold"> About IT Courses: </h3>
                                    <div class="mb-0 description">
                                        <p> Information technology (IT) is the study of the storage, retrieval, manipulation, protection, and manipulation of electronic data. It also includes the creation, operation, and maintenance of hardware, software, and peripherals. Software engineers need to think critically and solve issues in the project. The IT Manager, Cyber Security Specialist, Cloud Computing analyst, and Network Operations Manager are some of the trending positions in this field. </p>
                                        <p> Having the right skills and experience will help you find a rewarding career. Learn how to prepare to take IT certifications at Nipuna Technologies. With our training, your IT skills will make your CV stand out and allow you want to enter this growing and exciting profession.</p>
                                        <p> Information Technology encompasses many highly-specialized computer science fields such as software engineering, cyber security, Cloud Computing, and software development. </p>
                                        <p> Looking forward to upskilling? Enroll in our diverse set of online courses and our practical learning to help upscale your career development. Nipuna Technologies, Software Training Institute in Guntur is dedicated to providing you with an exceptional quality of education through online courses to help you thrive in the IT industry.</p>
                                    
                                    </div>




                                    <h3 class="card-title mb-3 font-weight-bold"> Benefits of IT Courses: </h3>


                                    <div class="mb-0 description">

                                        <div class="row">
                                            <div class="col-xl-12 col-md-12">
                                               <ul>
                                                    <li class="text-default-dark">            <span> Multiple career pathways
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Growth in job roles
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> High-end salaries
                                                        </span></li>

                                                    <li class="text-default-dark">            <span> Job satisfaction
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Transferable skills
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Grow your network

                                                        </span></li>

                                                   


                                                </ul>
                                            </div>
                                        </div>

                                        <h3 class="card-title mb-3 font-weight-bold">  Why Choose Nipuna Technologies for Software courses Training courses in Guntur? </h3>

                                        <p> Nipuna Technologies is Ranked as the Best Software courses training Institute in Guntur. We Provide 100% Placement Assistance for all our students. Become a software developer or engineer expert in 3-6 months, enrol now for the most advanced Software courses Training  Program. With our training, our students are the Job ready in 90 days. We Offer Software courses training with 9+ Years of Certified Trainers.  </p>

                                        <ul>
                                            <li> Nipuna has the best experienced and multi-skilled Trainers. </li>
                                            <li> We provide a 100% job guarantee for the Software courses. </li>
                                            <li> More than 1000+ students have already completed this courses are some of them secured a job. </li>
                                            <li> We have an excellent lab facility, and online classes & all our classrooms are Air-Conditioned to make students comfortable while learning. </li>
                                            <li> For each student, a desktop is allocated to practice throughout the course. </li>
                                            <li> Nipuna Technologies has tied up with many companies & consultancies to provide placement assistance for our students. </li>
                                            <li> Our Software courses Training program is Classroom and Online Courses training in Guntur with Real case-studies </li>
                                         </ul>

                                        <p> Learn the Software courses training in Guntur at your comfort and flexible timings and Get an immediate job placement. We provide 100% job assistance after successful training at our institute and internship.2500+ students Rated Nipuna technologies as the Top rated Training Institute in Guntur.</p>

                                        <p> We also offer students most popular and in-demand Software courses training classes in Guntur with real-time applications by the expert trainers in Guntur. The Software courses program in Guntur at Nipuna technologies is specially designed for both Graduates and working professionals.</p>
                                        
                                        <h3 class="card-title mb-3 font-weight-bold"> Job Opportunities After Completing a Software Courses Training in Guntur</h3>

                                        <p> The information technology industry is booming, partly due to the rapid growth of internet-connected smart devices. According to the latest survey, there will be a 30% increase in IT manager jobs from 2014 to 2024. Information technology engineering is a broad field that covers many positions. According to Indeed, the average salary for an IT Manager is $84K per Year and 63K positions have a salary estimate of more than $100K per Year.</p>

                                        <p> As interns or entry-level employees, they are responsible for providing technical support and troubleshooting IT operation issues. They also maintain the IT infrastructure and network. ​Find out Our IT Courses this is the right career path for you. Our Online courses are completely self-paced. Sign up today to get started with Job ready Courses.</p>

                                        <p> It is difficult to define the roles of the Information Technology (IT) industry due to the variety of roles, responsibilities, and sectors in which IT professionals can be found.  </p>
                                        

                                        



                                        <h3 class="card-title mb-3 font-weight-bold">  Job Roles for an IT & Software professionals: </h3>
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12">
                                               <ul>
                                                    <li class="text-default-dark">            <span> IT business analyst
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Data analyst


                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Web designer
                                                        </span></li>

                                                    <li class="text-default-dark">            <span> Web developer
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Full-stack developer
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Software developer
                                                        </span></li>

                                                    <li class="text-default-dark">            <span>
                                                                Systems analyst </span>
                                                    </li>
                                                    <li class="text-default-dark">            <span> Computer network architect
                                                        </span></li>

                                                    <li class="text-default-dark">            <span> Information systems support technician
                                                        </span></li>


                                                    <li class="text-default-dark">            <span> Cloud Computing consultant
                                                        </span></li>


                                                    <li class="text-default-dark">            <span>
                                                                Specialist in computer support
                                                        </span></li>


                                                    <li class="text-default-dark">            <span> Machine learning engineer
                                                        </span></li>


                                                    <li class="text-default-dark">            <span> The administrator of the database
                                                        </span></li>

                                                        <li class="text-default-dark">            <span> Analyst in information security
                                                        </span></li>

                                                        <li class="text-default-dark">            <span> Computer programmer
                                                        </span></li>


                                                </ul>
                                            </div>
                                        </div>





                                        

                                        <h3 class="card-title mb-3 font-weight-bold"> Job Areas for IT & Software professionals.
                                        </h3>
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12">
                                               <ul>
                                                    <li class="text-default-dark">            <span> Telecommunication.
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Banking.
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> Social media.
                                                        </span></li>

                                                    <li class="text-default-dark">            <span> Insurance.
                                                        </span></li>
                                                    <li class="text-default-dark">            <span> E-commerce domains.
                                                        </span></li>
                                                    


                                                </ul>
                                            </div>
                                        </div>


                                        <h3 class="card-title mb-3 font-weight-bold"> Recruiters for IT & Software professionals:
                                        </h3>
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12">
                                               <ul>
                                                    <li class="text-default-dark">            <span>
                                                                Microsoft
                                                        </span></li>
                                                    <li class="text-default-dark">            <span>
                                                                HCL </span></li>
                                                    <li class="text-default-dark">            <span>
                                                                Wipro </span>
                                                    </li>

                                                    <li class="text-default-dark">            <span>
                                                                TCS. </span>
                                                    </li>

                                                    <li class="text-default-dark">            <span>
                                                                Accenture. </span>
                                                    </li>

                                                    <li class="text-default-dark">            <span>
                                                                IBM </span>
                                                    </li>

                                                    <li class="text-default-dark">            <span>
                                                                Oracle. </span>
                                                    </li>



                                                </ul>
                                            </div>
                                        </div>

                                        


                                        <h3 class="card-title mb-3 font-weight-bold"> Our Training Methodology </h3>

                                        <p> Nipuna Technologies is particularly focused on trending Software courses as well as industry needs. The popularity of the Information Technology (IT) industry has significantly increased and is also high in demand. Learn multiple technologies such as Java, Python, Data Science, Digital marketing, AWS, Azure, Cloud Computing, Cyber Security, and many more. The IT industry will grow over time. It's not going to end now. The reason for the rapid growth in this industry is because of the increased Internet users.</p>

                                        <ul>
                                            <li class="mb-0">
                                                <p>    Our  Software courses Training program is Classroom and Online Course in Guntur with Real case-studies </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>    Job Assistance: 100% Job Assurance Placement Support. We offer our students to Get JOB by sending for interviews with MNCs, Mid & Small Size Companies.</p>
                                            </li>

                                            <li class="mb-0">
                                                <p>    We bring value to their skills by
                                                    conducting self-development workshops. </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>   
                                                    Resume Preparation Support </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>    We
                                                    Interview Question and Answers </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>    We Conduct 2 Mock Exams </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>    Mock interview sessions to boost their
                                                    confidence </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>   
                                                    Group discussions </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>    Dedicated HR Team for Placements. </p>
                                            </li>
                                            <li class="mb-0">
                                                <p>   
                                                    We tie up with corporate companies </p>
                                            </li>

                                        </ul>


                                        <h3 class="card-title mb-3 font-weight-bold"> Get Training from Expert level Trainers</h3>
                                        <p> At Nipuna Technologies, you will learn Software courses online training in Guntur from industry expert trainers who have expert-level strong knowledge of theoretical & practical skills. Our Trainers are certified, professionals.</p>

                                        <h3 class="card-title mb-3 font-weight-bold"> LIVE Projects </h3>
                                        <p> To learn more about Software courses with real-time projects join Nipuna Technologies. Our trainer helps the students on live projects during the training and provides students valuable experience in designing, programming, Cloud computing, and databases by using multiple technologies during the training classes. Display your project experience & increase your chances of employment and increase all over the impression during technical Interviews.</p>

                                        <h3 class="card-title mb-3 font-weight-bold"> Certification training </h3>
                                        <p> Nipuna Technologies gets you certified with a Software courses Certificate course in Guntur. Our Software courses coaching center in Guntur is one of the best Software courses certification training in Guntur. Obtaining these certificates, increase the value of your resume & you will rise up for job hunting.</p>

                                        <h3 class="card-title mb-3 font-weight-bold"> Reasonable Fee Structure </h3>
                                        <p> The CAD course fee at Nipuna Technologies is budget-friendly.</p>

                                        <h3 class="card-title mb-3 font-weight-bold"> Flexibility </h3>
                                        <p> Nipuna Technologies provides classroom & Online classes in Guntur. We also offer absolute flexibility through online training courses. Select your course timings in the mornings or evenings that best fit you.</p>

                                        <h3 class="card-title mb-3 font-weight-bold"> Placement Support</h3>
                                        <p> Upon completion of training with Nipuna Technologies, we enable your skills by conducting self-development workshops that involve a Mock interview session, group discussions, and presenting skills to exhibit themselves confidently during facing company technical interviews.</p>





                                    </div>
                                </div>
                            </div>
                        </ngx-tab>

                        <ngx-tab tabTitle="Curriculum">

                            <div class="curriculum-content">




                                <!-- <h3 class="card-title mb-3 font-weight-bold" > PHP & MySQL training Course Curriculum</h3> -->

                                <div class="faq-accordion">




                                    <accordion>

                                        <accordion-group heading="1.Our Exclusive IT & Software Courses Training Programs"
                                            [isOpened]="true">
                                            <ul class="list-styled mb-v">
                                                <li>   <a routerLink="/ITCourses/devops-training-institute-guntur"> DevOps training institute in Guntur </a>  </li> 
                                                <li>   <a routerLink="/ITCourses/aws-training-institute-guntur"> Aws training in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/microsoft-azure-training-institute-guntur"> Microsoft Azure Training in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/oracle-sql-plsql-training-institute-guntur"> Oracle SQL Course Training Institute in Guntur </a> </li>
                                                <li>   <a routerLink="/ITCourses/c-language-training-institute-guntur"> C Language Training Institute in Guntur </a>  </li>
                                                <li>   <a routerLink="/"> C++ Training in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/java-fullstack-training-institute-guntur"> Java Course Training Institute in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/core-java-training-institute-guntur"> Core Java Course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/advanced-java-training-institute-guntur"> Advance Java Course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/Python-training-institute-guntur"> Best python training institute in Guntur with 100% Placement Assistance </a>  </li>
                                                <li>   <a routerLink="/ITCourses/python-with-coreandadvance"> Core & Advance Python Course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/Python-with-machine-learning-datascience"> Machine Learning & Data Science Python Course in Guntur. </a>  </li>
                                                <li>   <a routerLink="/Python-with-Django-training-institute-guntur"> Python Django Course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/dot-net-training-institute-guntur"> Dot NET Course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/webdesign-training-institute-guntur"> Best Web Designing Course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/power-bi-training-institute-guntur"> Power BI Training in Guntur</a>  </li>
                                                <li>   <a routerLink="/ITCourses/tableau-training-institute-guntur"> Tableau Training in Guntur  </a>  </li>
                                                <li>   <a routerLink="/ITCourses/Android-training-institute-guntur"> Android App Development course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/react-js-training-institute-guntur"> React JS Training in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/ManualTesting-training-institute-guntur"> Best Manual Testing training institute in Guntur  </a>  </li>
                                                <li>   <a routerLink="/ITCourses/mule-soft-training-institute-guntur"> MuleSoft Training in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/angular-js-training-institute-guntur"> AngularJS Course in Guntur </a>  </li>
                                                <li>   <a routerLink="/ITCourses/php-mysql-training-institute-guntur"> PHP MySQL Course in Guntur </a>  </li>
                                                

                                            </ul>
                                        </accordion-group>

                                    </accordion>

                                </div>

                            </div>
                        </ngx-tab>

                        <ngx-tab tabTitle="Instructor">
                            <div class="tab-pane" id="tab-3">
                                <div class=" mb-0 border-0 shadow-none">
                                    <div class="card-body item-user p-0">
                                        <div class="profile-pic mb-0 text-start">
                                            <h3> Our Trainers Profile </h3>

                                            <div class="description">
                                                <p> Our Trainers provides complete knowledge to the students to
                                                    understand the Concepts of the course and learn real-time
                                                    applications. Our trainers help the students in completing their
                                                    projects during the training and even help them prepare for
                                                    interviews. Students are free to ask questions and clarify their
                                                    doubts at any time during the course.
                                                </p>


                                                <p> Our trainers are the best certified and bagged complete knowledge on
                                                    the concepts of the course.
                                                </p>

                                                <div class="row">
                                                    <div class="col-xl-12 col-md-12">
                                                        <ul>
                                                            <li class="text-default-dark"><span> More than 10+ years of
                                                                    experience in the IT industry.
                                                                </span></li>
                                                            <li class="text-default-dark"><span> Our Trainer trained
                                                                    more than 1000+ students in a year.
                                                                </span>
                                                            </li>
                                                            <li class="text-default-dark"><span> 5 star rated certified
                                                                    professional trainer of Nipuna Technologies.
                                                                </span></li>
                                                            <li class="text-default-dark"><span> Excellent subject
                                                                    delivery and communication skills.
                                                                </span></li>
                                                            <li class="text-default-dark"><span> Our trainers have
                                                                    excellent work experience in Top MNCs such as IBM,
                                                                    TCS, Infosys, Dell, Accenture,HCl and many more .

                                                                </span> </li>
                                                            <li class="text-default-dark"><span> Our trainers provide
                                                                    the students with industry insights and the best
                                                                    technical practices of the application to ensure
                                                                    that they have complete knowledge of the current
                                                                    market needs.
                                                                </span></li>
                                                            <li class="text-default-dark"><span> Our trainers use
                                                                    different types of training methods, for e.g.,
                                                                    providing assignments, real-time sessions, group
                                                                    discussion sessions, practical work, etc. to ensure
                                                                    an engaging learning experience
                                                                </span></li>

                                                            <li class="text-default-dark"><span> Good communication with
                                                                    Hiring HRs in multinational companies.
                                                                </span></li>
                                                            <li class="text-default-dark"><span> Having hands-on
                                                                    real-time experience on projects that were done for
                                                                    reputed clients.
                                                                </span></li>

                                                            <li class="text-default-dark"><span> Strong Theoretical &
                                                                    Practical Knowledge and fully up-to-date on
                                                                    real-world industry applications.
                                                                </span></li>
                                                            <li class="text-default-dark"><span> Our Trainers help the
                                                                    students during the assignments and Live Projects
                                                                    when they find any difficulty in doing them. These
                                                                    Live Projects Will help our students to learn
                                                                    practical implementations of each and every concept.
                                                                </span></li>




                                                        </ul>
                                                    </div>
                                                </div>




                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ngx-tab>

                        <ngx-tab tabTitle="Reviews">
                            <div class="review-content">
                                <div class="row align-items-center">
                                    <div class="col-lg-3">
                                        <div class="rating-point">
                                            <h2>5.00</h2>
                                            <ul>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                            </ul>
                                            <span>Course Rating</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="rating-bar">
                                            <li><span class="bar-1"></span></li>
                                            <li><span class="bar-2"></span></li>
                                            <li><span class="bar-3"></span></li>
                                            <li><span class="bar-4"></span></li>
                                            <li><span class="bar-5"></span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul class="total-review">
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><span>100%</span></li>
                                        </ul>
                                        <ul class="total-review">
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><span>0%</span></li>
                                        </ul>
                                        <ul class="total-review">
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><span>0%</span></li>
                                        </ul>
                                        <ul class="total-review">
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><span>0%</span></li>
                                        </ul>
                                        <ul class="total-review mb-0">
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                            <li><span>0%</span></li>
                                        </ul>
                                    </div>
                                </div>



                                <h3> It Courses Student Reviews </h3>
                                <ul class="feedback-list some-list-1">
                                    <li class="load-more-gallery">
                                        <img src="assets/images/review-1.jpg" alt="Image">
                                        <h3>Irfan Basha </h3>
                                        <div class="review">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>


                                        <p> I have learn the course of ORACLE. Institute was so awesome, it is great to
                                            learn
                                            and have all experience faculty, teaching like point to point with their
                                            knowledge.
                                            I jus learn the course with in 45 days. ThankQ Nipuna technologies </p>


                                    </li>
                                    <li class="load-more-gallery">
                                        <img src="assets/images/review-2.jpg" alt="Image">
                                        <h3> Bindu Korumalli</h3>
                                        <div class="review">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                        <p> Hi this is Bindu .i would like to share my
                                            experience about nipuna technologies.
                                            Nipuna technologies is the best training institute in guntur for any kind of
                                            course and also this is the best training institute for job oriented courses
                                            and
                                            also
                                            available all type of courses including cloud courses and any kind of
                                            projects also
                                            available,
                                            so all of you once go and visit the nipuna and Share your experiences thank
                                            you </p>

                                    </li>
                                    <li class="load-more-gallery">
                                        <img src="assets/images/review-3.jpg" alt="Image">
                                        <h3>Veda harshitha Pasupuleti</h3>
                                        <div class="review">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                        <p> The courses from Nipuna Technologies are on another level and they are
                                            diverse. They
                                            helped me discover, learn and access more technical skills and pushed me
                                            constantly
                                            in gaining practical experience. I am amazed at the knowledge and new skills
                                            I
                                            gained in my courses from Nipuna Technologies. Explore their courses
                                            because, now,
                                            it is your turn to discover, upskill and earn from one of the best
                                            companies.</p>


                                    </li>
                                    <li class="load-more-gallery">
                                        <img src="assets/images/review-1.jpg" alt="Image">
                                        <h3> Sunil</h3>
                                        <div class="review">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                        <p> I Joined Nipuna technologies for DevOps training. Firstly I would like to
                                            speak about my trainer, he is a fantastic person professionally and
                                            personally. He helped me in getting expert knowledge in my respective fields
                                            by assigning me the projects. The Curriculum is excellent and informative.
                                            This is the best place for upgrading your skill set in all the IT Courses.
                                            Thank you to my trainer and the management staff for career guidance.
                                        </p>

                                    </li>
                                    <li class="load-more-gallery">
                                        <img src="assets/images/review-1.jpg" alt="Image">
                                        <h3>Latha
                                        </h3>
                                        <div class="review">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                        <p> It was a great experience for me to complete my Java Full-stack course from
                                            Nipuna technologies. The training was completely practical-oriented and a
                                            complete package of what the industry currently needs. I thank my trainer
                                            for teaching us in such a way that we felt Java programming is easy to
                                            learn.
                                        </p>

                                    </li>
                                </ul>

                            </div>
                        </ngx-tab>


                        <ngx-tab tabTitle="FAQ's">

                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="faq-accordion">




                                        <accordion>
                                            <accordion-group heading=" 1. Will you Provide Free Demo before joining the course?
                                                " [isOpened]="true">

                                                <p> Yes, you can attend the free demo session before joining the course.
                                                    The demo session will help you in understanding our teaching
                                                    methodology and the concepts of the course.
                                                </p>
                                                <p> Call us on 7997927111 to schedule your demo class or visit us at
                                                    https://www.nipunatechnologies.com/ to book a demo class.
                                                </p>


                                            </accordion-group>



                                            <accordion-group
                                                heading="2.Is it possible for me to enrol in multiple courses at a time?">
                                                <p> Yes! To begin, select the course of your choice and enrol. You may
                                                    enrol in a
                                                    single course or multiple courses after the completion of which you
                                                    will
                                                    receive a shareable certificate. </p>

                                            </accordion-group>


                                            <accordion-group
                                                heading="3.Do I receive a certificate after completion of the course?">

                                                <p> Yes, all our students get certificates from the institute after
                                                    completing the Java training program at Nipuna Technologies.
                                                </p>


                                            </accordion-group>


                                            <accordion-group
                                                heading="4.What is Nipuna Technologies Certified Professional Certificate?">
                                                <p> After completion of the course, we will conduct an exam, and if you
                                                    get 80% or more in the exam you will get Nipuna Technologies
                                                    Certified Professional Certificate.
                                                </p>

                                            </accordion-group>
                                            <accordion-group heading="5.  Who is my instructor?">
                                                <p> Your instructor is 10+ years experienced Java developer in TCS and
                                                    HCL companies.</p>

                                            </accordion-group>



                                            <accordion-group heading="6.Can I pay course fees in installments?">
                                                <p>Yes, definitely we offer 3-4 installments you can pay the complete
                                                    course fee.</p>


                                            </accordion-group>



                                            <accordion-group heading="7. How long does it take to complete a course?">

                                                <p> It takes about a minimum of 1 month or 30hours to complete and learn
                                                    from a
                                                    course full time. Now, if choose or sign up for the part-time
                                                    learning
                                                    hours, you can complete a course program in about 3 months. </p>


                                            </accordion-group>


                                            <accordion-group heading="8.What if I miss a Session">
                                                <p> You will never miss any session. You can select any one of two
                                                    options:</p>
                                                <p> 1. View the class recordings that we send through mail
                                                    daily.</p>
                                                <p> 2. You can attend the missed session of the course in any
                                                    other live batch. </p>

                                            </accordion-group>

                                            <accordion-group heading="9.Do you teach the basics with this course?
                                            ">
                                                <p> Yes, we will start the course with the basics.
                                                </p>

                                            </accordion-group>


                                            <accordion-group heading="10.Will you provide training on live projects during these courses?

                                            ">
                                                <p> Yes, you will work on a live project under the guidance of our
                                                    trainer. Once you complete your project you will receive a
                                                    Certificate.

                                                </p>

                                            </accordion-group>





                                        </accordion>
                                    </div>
                                </div>

                            </div>
                        </ngx-tab>

                    </ngx-tabset>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-sidebar ml-15 pb-70">
                    <div class="sidebar-widget video-courses">
                        <div class="courses-video-img">
                            <img src="../../../../assets/images/course/IT & Software_Training_Courses_Guntur.webp" alt="IT and software Training Course guntur">
                        </div>
                        <div class="price-status">
                            <!-- <h2>$25.00</h2> -->
                            <h4>This Course Information :</h4>
                            <ul class="in-price-list">
                                <li>Course Start Date: Coming Soon</li>
                                <li>Course Duration: 60 Days</li>


                                <li>Course Level : Advanced</li>
                                <!-- <li>Trainers	:	2</li> -->
                                <li>Institute Timings : 07:00 am to 10:00 pm</li>
                            </ul>


                        </div>
                    </div>
                    <div class="sidebar-widget related-courses">
                        <app-contactform></app-contactform>
                    </div>
                   
                    <div class="sidebar-widget related-courses">
                        <h3>Related Courses</h3>
                      <app-relatedcourses></app-relatedcourses>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>