<!-- Default Achievements for All Pages -->
<!-- <div class="counter-area pt-70 pb-100" [ngClass]="{'d-none' : router?.url === '/index-2'}">
    <div class="container">
        <div class="achievements">
            <div class="achievements-contents">
                <h3>Our Achievements</h3>
                <p>Learn the secrets of life success, all the successes we have achieved in achieving goals.</p>
                <img src="assets/images/achievements-img.png" alt="Image">
            </div>
            <div class="counter-bg p-70">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-counter-item">
                            <h2>
                                <span class="odometer" [countUp]="2569">00</span>
                                <span class="target">+</span>
                            </h2>
                            <h3>Total Learners</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-counter-item">
                            <h2>
                                <span class="odometer" [countUp]="70">00</span>
                                <span class="target">+</span>
                            </h2>
                            <h3>Total Courses</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-counter-item">
                            <h2>
                                <span class="odometer" [countUp]="40">00</span>
                                <span class="target">+</span>
                            </h2>
                            <h3>Total Faculty</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-counter-item">
                            <h2>
                                <span class="odometer" [countUp]="100">00</span>
                                <span class="target">%</span>
                            </h2>
                            <h3>Satisfaction Rate</h3>
                        </div>
                    </div>
                </div>
                <div class="counter-shape">
                    <img src="assets/images/counter-shape.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Achievements for Only Home Demo 2 -->
<div class="counter-area pt-70 pb-100" >
    <div class="container">
        <div class="section-title">
            <h2>Our Achievements</h2>
            <p>Learn the secrets of life success, all the successes we have <br> achieved in achieving goals.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="single-counter-item">
                    <img src="assets/images/icon/online-course.png" alt="Image">
                    <h2>
                        <span class="odometer" [countUp]="2569">2569</span>
                        <span class="target">+</span>
                    </h2>
                    <h3>Total Learners</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="single-counter-item">
                    <img src="assets/images/icon/contract.png" alt="Image">
                    <h2>
                        <span class="odometer" [countUp]="70">70</span>
                        <span class="target">+</span>
                    </h2>
                    <h3>Total Courses
                    </h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="single-counter-item">
                    <img src="assets/images/icon/instructor.png" alt="Image">
                    <h2>
                        <span class="odometer" [countUp]="40">40</span>
                        <span class="target">+</span>
                    </h2>
                    <h3>Courses Instructors</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="single-counter-item">
                    <img src="assets/images/icon/satisfaction.png" alt="Image">
                    <h2>
                        <span class="odometer" [countUp]="100">00</span>
                        <span class="target">%</span>
                    </h2>
                    <h3>Satisfaction Rate</h3>
                </div>
            </div>
        </div>
    </div>
</div>