<div class="contact-area  " >
  
    <div class="container">
    
      <h6 style="padding-bottom: 15px;">Get in Touch With us</h6>
        
        <div class="contact-form main-contact-form">
          <div class="row">
          
            <div class="col-sm-12">
              <form #ContactForm="ngForm" (ngSubmit)="ContactForm.form.valid && onSubmit()">

                <div class="form-group">
                    <input type="text" Placeholder="Name" id="fname1" class="form-control" name="name" data-toggle="tooltip"
                      autocomplete="off" data-trigger="hover" data-placement="top" data-title="Name"
                      [(ngModel)]="owner.name" name="name_candidate" #name="ngModel"
                      [ngClass]="{ 'is-invalid': ContactForm.submitted && name.invalid }" required />
                    <div *ngIf="ContactForm.submitted && name.invalid" class="invalid-feedback">
                      <div *ngIf="name?.errors?.required">Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <input type="text" Placeholder="Email"  id="email" class="form-control"
                        data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"
                        data-validation-regex-msg="Enter Valid Email" aria-invalid="false" autocomplete="companyemail"
                        #email="ngModel" [(ngModel)]="owner.email" name="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        [ngClass]="{ 'is-invalid': ContactForm.submitted && email.invalid }" required />
                      <div *ngIf="ContactForm.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email?.errors?.required">Email ID is required</div>
                        <div *ngIf="email?.errors?.pattern">Email ID is invaild</div>
                      </div>
                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <input type="text" Placeholder="Mobile Number"  id="mobile" class="form-control" required=""
                        autocomplete="contactNumber" data-validation-containsnumber-regex="(\d)+" pattern="^[6-9]\d{9}$"
                        data-validation-containsnumber-msg="Please enter a valid mobile number" aria-invalid="false"
                        [(ngModel)]="owner.mobile" #mobile="ngModel" name="mobile"
                        pattern="^[6-9]\d{9}$" minlength=10 maxlength=10
                        [ngClass]="{ 'is-invalid': ContactForm.submitted && mobile.invalid }" required />
                      <div *ngIf="ContactForm.submitted && mobile.invalid" class="invalid-feedback">
                         <div *ngIf="mobile?.errors?.required">Mobile is required</div>
                        <div *ngIf="mobile?.errors?.pattern">Mobile Number is invalid</div> 
      
                      </div>
                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" Placeholder="course" id="fname1" class="form-control" name="course" data-toggle="tooltip"
                      autocomplete="off" data-trigger="hover" data-placement="top" data-title="Name"
                      [(ngModel)]="owner.course" name="course" #course="ngModel"
                      [ngClass]="{ 'is-invalid': ContactForm.submitted && course.invalid }" required />
                    <div *ngIf="ContactForm.submitted && course.invalid" class="invalid-feedback">
                      <div *ngIf="course?.errors?.required">Course is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                
                    <textarea Placeholder="Message" type="text" id="msg" class="form-control" name="msg" data-toggle="tooltip"
                    autocomplete="off" data-trigger="hover" data-placement="top" data-title="Name"
                    [(ngModel)]="owner.msg" name="msg" #msg="ngModel"
                    [ngClass]="{ 'is-invalid': ContactForm.submitted && msg.invalid }" required >
             </textarea>
                <div *ngIf="ContactForm.submitted && msg.invalid" class="invalid-feedback">
                    <div *ngIf="msg?.errors?.required">Message is required</div>
                  </div>
                </div>
                <button type="submit" class="default-btn">Send Message</button>
            </form>
            </div>
          </div>
        </div>
        
        <!-- <div class="community-shape-2">
            <img src="assets/images/community-shape-2.png" alt="Image">
        </div> -->
    </div>
    
</div>




