<div  style="background-color: #f5f4f9;padding-top: 50px;"
    class="popular-courses-area pb-100 "
    [ngClass]="{'pt-100' : router?.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title left-title">
            <h2>NO CLASSES
                
            </h2><br/>
            <span >Improve your Knowledge &amp; Intelligence with Nipuna Technologies</span>
        </div>
        <div class="courses-tabs">
            <ngx-tabset>
           
                <ngx-tab >
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/dot-net-training-institute-guntur" class="courses-img">
                                    <img src="../../../../assets/images/course/OCLS-dotnet.webp" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/dot-net-training-institute-guntur">
                                            Dot Net
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <p class="mb-0">Enroll in <b>Dot Net Course in Guntur</b> 
                                        at Nipuna technologies, the <b>Best Dot Net Training institute 
                                            in Guntur</b> to develop your skills and get real-time Experience.  </p>
                                  
                                  
                                  
                                  
                                  
                                  
                                        <!-- <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <a routerLink="/author">
                                                <img src="assets/images/courses/user-1.jpg" alt="">
                                                By:  Sullivan
                                            </a>
                                        </li>
                                        <li class="cart-btn">
                                            <button type="submit" class="add-btn">
                                                <i class="ri-shopping-cart-line"></i>
                                                <span>Add To Cart</span>
                                            </button>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/Python-with-machine-learning-datascience" class="courses-img">
                                    <img src="../../../../assets/images/course/best-python-training-institute-guntur-with-placement.webp" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/Python-with-machine-learning-datascience">
                                            Python With DATA SCIENCE
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <p class="mb-0">Enroll in <b>Data Science Course in Guntur</b> 
                                        at Nipuna technologies, the <b>Best Data Science Training institute 
                                            in Guntur</b> to develop your skills and get real-time Experience.  </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/Seo-training-institute-guntur" class="courses-img">
                                    <img src="../../../../assets/images/course/OCLS-seo.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/Seo-training-institute-guntur">
                                            Digital Marketing
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Digital Marketing Course in Guntur</b> 
												at Nipuna technologies, the <b>Best Digital Marketing Training institute in Guntur</b> to develop your skills.  </p>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="../../../../assets/images/course/OCLS-mxroad.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            MX ROAD
                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                    <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <p class="mb-0">Enroll in <b>Mx Road Course in Guntur</b> at 
                                        Nipuna technologies, the <b>Best Mx Road Training institute 
                                            in Guntur</b> to develop your skills and get real-time Experience.  </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/tally-training-institute-guntur" class="courses-img">
                                    <img src="../../../../assets/images/course/OCLS-Tally.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/tally-training-institute-guntur">
                                            Tally                                     </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Tally Prime Course in Guntur</b> at 
												Nipuna technologies, the <b>Best Tally Prime Training institute in Guntur</b> to develop your skills and get real-time Experience.  </p>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/Python-with-machine-learning-datascience" class="courses-img">
                                    <img src="../../../../assets/images/course/OCLS-pythonml.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <!-- <span class="price">$25.00</span> -->
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/Python-with-machine-learning-datascience">
                                            PYTHON WITH ML                                        </a>
                                    </h3>
                                    <ul class="review">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><span>487 reviews</span></li>
                                    </ul>
                                      <ul class="status d-flex justify-content-between align-items-center">
                                        <li>
                                            <b>Duration:</b>
                                            4-5 Months
                                        </li>
                                        <li>
                                           <b>Daily:</b>
                                           2 Hours
                                        </li>
                                    </ul>
                                    <ul class="author d-flex justify-content-between align-items-center">
                                        <li>
                                            <p class="mb-0">Enroll in <b>Python With ML Course in Guntur</b> 
												at Nipuna technologies, the <b>Best Python with ML 
													Training institute in Guntur</b> to develop your skills </p>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                      
                      
                    
                    </div>
                </ngx-tab>
           
            
             
             
            </ngx-tabset>
        </div>
        <div class="register-free">
            <p>Enjoy top learning methods and master the next level! You are the creator of your own career and we will guide you through it. <a routerLink="/contact">Contact Us Now!</a></p>
        </div>
    </div>
</div>