<div class="zoom-meeting-area pt-20 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="zoom-meeting-img">
                    <img src="../../../../assets/images/About_us.webp" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="zoom-meeting-content">
                    <h2>ABOUT NIPUNA TECHNOLOGIES
                    </h2>
                    
                    <span><b>Improve your Knowledge & Intelligence with Nipuna Technologies</b></span>
                    <br/>
                    <br/>
                    <p><b>Nipuna Technologies the best Software Training Institute in Guntur,</b> is dedicated to providing you an exceptional quality of education to help you thrive in the IT industry. We equip learners both technically and professionally, allowing them to learn and grow. We at Nipuna Technologies are dedicated to giving you the confidence and skill to land your dream role. Our objective is not just improving your skills but also helping you monetize them with placement opportunities.</p>
                    
                    <p>Increase your chances of getting a job by taking advantage of placement-oriented software training at Nipuna Technologies. We offer a diverse set of job-oriented courses while providing students with world-class training from working professionals and live projects.

                    </p>
               </div>
            </div>
        </div>
    </div>
</div>