<div class="related-courses-slider">
    <owl-carousel-o [options]="relatedCoursesSlides">
        <ng-template carouselSlide>
            <div class="single-course-item">
                <a 
                    class="courses-img">
                    <img src="../../../../assets/images/course/mechanical-autocad-course-guntur.webp"
                        alt="mechanical autocad course  guntur">

                </a>
                <div class="courses-content">
                    <h3>
                        <a
                            routerLink="/CADCourses/autocad-mechanical-training-institute-guntur">
                            Mechanical Autocad Course in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <!-- <li><span>5.00(15)</span></li> -->
                    </ul>
                    <p>Nipuna Technologies offers  the best Mechanical Autocad course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>


        <ng-template carouselSlide>
            <div class="single-course-item">
                <a 
                    class="courses-img">
                    <img src="../../../../assets/images/course/unigraphics-course-guntur.webp"
                        alt="unigraphics course guntur">

                </a>
                <div class="courses-content">
                    <h3>
                        <a routerLink="/CADCourses/unigraphics-training-institute-guntur">
                            Unigraphics Course in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <!-- <li><span>5.00(15)</span></li> -->
                    </ul>
                    <p>Nipuna Technologies offers the best Unigraphics Course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li> 

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>


        <ng-template carouselSlide>
            <div class="single-course-item">
                <a  class="courses-img">
                    <img src="../../../../assets/images/course/solidworks-training-guntur.webp"
                        alt="solid works training  guntur">

                </a>
                <div class="courses-content">
                    <h3>
                        <a routerLink="/CADCourses/solidworks-training-institute-guntur">
                           Solid works  in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <!-- <li><span>5.00(15)</span></li> -->
                    </ul>
                    <p>Nipuna Technologies offers solid works  course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-course-item">
                <a 
                    class="courses-img">
                    <img src="../../../../assets/images/course/cnc-machine-course-guntur.webp"
                        alt="cnc machine course guntur">


                </a>
                <div class="courses-content">
                    <h3>
                        <a routerLink="/CADCourses/cnc-machine-training-institute-guntur">
                            CNC Machine course in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <!-- <li><span>4.00(20)</span></li> -->
                    </ul>
                    <p>Nipuna Technologies offers the best CNC Machine Course in Guntur.</p>

                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-course-item">
                <a  class="courses-img">
                    <img src="../../../../assets/images/course/creo-course-guntur.webp"
                        alt="creo course guntur">

                </a>
                <div class="courses-content">
                    <h3>
                        <a routerLink="/CADCourses/creo-training-institute-guntur">
                            CREO Course in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><span>4.5(12)</span></li>
                    </ul>
                    <p>Nipuna Technologies is one of the best CREO Course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>