

<div class="feature-area pt-100 pb-70" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <img src="assets/images/icon/classroom-training.png" alt="Image">
                    <h3>Classroom Training</h3>
                    <p> We have Certified trainers with excellent Lab Infrastructure 
                        along with an advanced course curriculum. 

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <img src="assets/images/icon/online-training.png" alt="Image">
                    <h3>Online Training</h3>
                    <p> Get trained by Industry Experts via Instructor-led Live Online
                         Courses with an advanced course curriculum</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <img src="assets/images/icon/live-projects.png" alt="Image">
                    <h3>Project Training</h3>
                    <p> At Nipuna Technologies, you will get an opportunity to work 
                        with Real-time Projects that will give you hands-on experience. 
                        Display your Project Experience & Increase your chance of getting hired! 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="Services">


    <section class="service-section web-servic pad-tb">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8">
        <div class="common-heading">
        <span>Nipuna Technologies</span>
        <h2 class="mb30">Why Choose Us ?</h2>
        </div>
        </div>
        </div>
        <div class="row upset link-hover shape-num justify-content-center">
        <div class="col-lg-4 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.2s" >
        <div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
        <div class="s-card-icon"><img src="../../../../assets/images/icons/expert-trainers.png" alt="service" class="img-fluid"/></div>
        <h3>Expert Trainers</h3>
        <p> At Nipuna Technologies, You will learn from the industry experts who are passionate about 
            sharing their knowledge with students and have expert-level strong knowledge of 
            theoretical & practical skills. </p>
       
        </div>
        </div>
        <div class="col-lg-4 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.4s">
        <div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
        <div class="s-card-icon"><img src="../../../../assets/images/icons/oracl.png" alt="service" class="img-fluid"/></div>
        <h3>Certification

        </h3>
        <p> Get Certified by Nipuna Technologies, Also, we provide training to clear Global Certifications. 80% of Nipuna Technologies Students appear for Global Certifications and 100% of them are Cleared. 
        </p>
       
        </div>
        </div>
        <div class="col-lg-4 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.6s" >
        <div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
        <div class="s-card-icon"><img src="../../../../assets/images/icons/app.svg" alt="service" class="img-fluid"/></div>
        <h3> Affordable Fees
        </h3>
        <p>  No Training institute in Guntur can beat us in fee structure. At Nipuna Technologies, Course Fee is not only Affordable, but also you have the option to pay it in Instalments. Quality Training with less price is our Motto.
        </p>
       
        </div>
        </div>
    
        <div class="col-lg-4 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.8s" style="padding-top: 10px;">
            <div class="s-block mb0" data-tilt data-tilt-max="5" data-tilt-speed="1000">
            <div class="s-card-icon"><img src="../../../../assets/images/icons/flexibility.png" alt="service" class="img-fluid"/></div>
            <h3>Flexibility
            </h3>
            <p> At Nipuna Technologies, training programs are arranged in a more flexible manner, Classroom or Online Training? Early morning or late evenings? Regular Batch or Fast Track? you can choose your own training schedule.
            </p>
           
            </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.8s" style="padding-top: 10px;">
                <div class="s-block mb0" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                <div class="s-card-icon"><img src="../../../../assets/images/icons/placement-support.png" alt="service" class="img-fluid"/></div>
                <h3>Placement Support
                </h3>
                <p> Nipuna Technologies provides 100% placement assistance, We have tied with many recruitment consultancies & companies to Support you with job Opportunities to Kick-Start & Step-up your Career in the world's best companies.
                </p>
               
                </div>
                </div>
    
    
    
    
                <div class="col-lg-4 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.8s" style="padding-top: 10px;" >
                    <div class="s-block mb0" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                    <div class="s-card-icon"><img src="../../../../assets/images/icons/lab.png" alt="service" class="img-fluid"/></div>
                    <h3> Lab Facility
                    </h3>
                    <p> At Nipuna Technologies, For most of our courses, you can access our labs 
                        for practical sessions. These labs are available 24/7 without any downtime,
                         This practice sessions will give you more confidence in real-time scenarios.
                    </p>
                   
                    </div>
                    </div>
    
    
        </div>
    
        </div>
        </section>
        <!--End Service-->
    </section>
    