<div class="related-courses-slider">
    <owl-carousel-o [options]="relatedCoursesSlides">
        <ng-template carouselSlide>
            <div class="single-course-item">
             
                    <img src="../../../../assets/images/course/python-django-course-guntur.webp"
                        alt="python django course  guntur" title="cadcourses">

             
                <div class="courses-content">
                    <h3>
                        <a routerLink="/ITCourses/Python-with-Django-training-institute-guntur">
                           Python Django Course in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <!-- <li><span>5.00(15)</span></li> -->
                    </ul>
                    <p>Nipuna Technologies offers Python Django course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-course-item">
              
                    <img src="../../../../assets/images/course/oracle-sql-plsql-training-course-institute-guntur.webp"
                        alt="oracle sql plsql training course institute guntur" title="cadcourses">


              
                <div class="courses-content">
                    <h3>
                        <a routerLink="/ITCourses/oracle-sql-plsql-training-institute-guntur">
                            Oracle sql/plsql programming Training, Oracle sql/plsql
                            certification
                            course in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <!-- <li><span>4.00(20)</span></li> -->
                    </ul>
                    <p>Nipuna Technologies offers the Oracle sql/Plsql Course in Guntur.</p>

                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-course-item">
                    <img src="../../../../assets/images/course/devops-training-institute-guntur.webp"
                        alt="Devops Training institute guntur" title="cadcourses">

             
                <div class="courses-content">
                    <h3>
                        <a routerLink="/ITCourses/devops-training-institute-guntur">
                            Devops Training in Guntur, Devops Online Training Institute in
                            Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><span>4.5(12)</span></li>
                    </ul>
                    <p>Nipuna Technologies is one of the best Devops Course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>



        <ng-template carouselSlide>
            <div class="single-course-item">
             
                    <img src="../../../../assets/images/course/angular-js-course-guntur.webp"
                        alt="Angular Js course guntur" title="cadcourses">

             
                <div class="courses-content">
                    <h3>
                        <a routerLink="/ITCourses/angular-js-training-institute-guntur">
                            Angular Js Training in Guntur, Angular Js Online Training Institute
                            in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><span>4.5(12)</span></li>
                    </ul>
                    <p>Nipuna Technologies is one of the best Angular Js Course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>



        <ng-template carouselSlide>
            <div class="single-course-item">
             
                    <img src="../../../../assets/images/course/aws-training-guntur.webp"
                        alt="Aws Training institute guntur" title="cadcourses">

               
                <div class="courses-content">
                    <h3>
                        <a routerLink="/ITCourses/aws-training-institute-guntur">
                            AWS Training in Guntur, AWS Online Training Institute in Guntur
                        </a>
                    </h3>
                    <ul class="review">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><span>4.5(12)</span></li>
                    </ul>
                    <p>Nipuna Technologies is one of the best AWS Course in Guntur.</p>
                    <ul class="status d-flex justify-content-between align-items-center">

                        <li>

                            Course Duration : 60 Days
                        </li>
                    </ul>

                </div>
            </div>
        </ng-template>  </owl-carousel-o>
</div>