<!-- Footer -->
<footer class="footer-area bg-color-05122d pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img  style= "border-radius:10px 10px;background-color:white;" src="../../../../assets/images/logo.png" alt="Image">
                    </a>
<p>
    Nipuna Technologies the best Software Training Institute in Guntur, is dedicated to providing you an exceptional quality of education to help you thrive in the IT industry. 
</p>                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/NipunaTechnologies/" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="https://www.instagram.com/nipuna_technologies/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                        <li><a href="https://maps.google.com/?cid=752287483685534777" target="_blank"><i class="ri-google-fill"></i></a></li>
                        <li><a href="https://in.linkedin.com/company/nipuna-technologies" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-4">
                    <h3>Categories</h3>
                    <ul class="import-link">
                        <li><a routerLink="/ITCourses/it-courses-training-institute-guntur">IT Courses</a></li>
                        <li><a routerLink="/MultiMedia/multimedia-training-institute-guntur">Multimedia</a></li>
                        <li><a routerLink="/DigitalMarketing/digital-marketing-training-institute-guntur">Digital Marketing</a></li>
                        <li><a routerLink="/CADCourses/cad-courses-training-institute-guntur">Cad Courses</a></li>
                        <li><a routerLink="/Networking/computer-networking-courses-training-institute-guntur">Networking Courses</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-4">
                    <h3>Our Company</h3>
                    <ul class="import-link">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/blog">Blog</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                       
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>
                    <ul class="address">
                        <li class="location">
                            <i class="ri-map-pin-line"></i>
                            Door No : 6-4-35, 1st Floor, 4/1 Arundelpet, Opposite Sai Grand, Guntur, Andhra Pradesh 522002

                            
                        </li>
                        <li>
                            <i class="ri-phone-fill"></i>
                            <a href="tel:+9179979 27111">+91 79979 27111</a>
                        </li>
                        <!-- <li>
                            <i class="ri-mail-fill"></i>
                            <a href="mailto:hello@edon.com">hello@edon.com</a>
                        </li> -->
                        <li>
                            <i class="ri-mail-fill"></i>
                            <a href="mailto:admin@nipunatechnologies.com">admin@nipunatechnologies.com</a>
                        </li>
                        <li class="location">
                            <i class="ri-time-line"></i>
                            (7 AM - 10 PM, Monday - Sunday)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copy-right-area bg-color-05122d">
    <div class="container">
        <div class="copy-right-wrap">
            <p>Copyright @2021 Nipuna Technologies. Designed By <a >Nipuna Technologies</a></p>
        </div>
    </div>
</div>