<!--<div class="contact-area pb-100 " style="padding-top: 50px;">
    <div class="container">
        <div class="section-title">
            <h2>Ready to Get Started?</h2>
        </div>
        
        <div class="contact-form main-contact-form">
          <div class="row">
            <div class="col-sm-6">
 <div class="community-shape-2">
            <img src="../../../../assets/images/contact-us.png" alt="Image">
        </div>
            </div>
            <div class="col-sm-6">
              <form #ContactForm="ngForm" (ngSubmit)="ContactForm.form.valid && onSubmit(ContactForm)">

                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="fname1" class="label_style"> Name</label>
                            <input type="text" id="fname1" class="form-control" name="name_contactus" data-toggle="tooltip"
                              autocomplete="off" data-trigger="hover" data-placement="top" data-title="Name"
                              [(ngModel)]="owner.name_contactus" name="name_candidate" #name_contactus="ngModel"
                              [ngClass]="{ 'is-invalid': ContactForm.submitted && name_contactus.invalid }" required />
                            <div *ngIf="ContactForm.submitted && name_contactus.invalid" class="invalid-feedback">
                              <div *ngIf="name_contactus?.errors?.required">Name is required</div>
                            </div>
                          </div>
                 
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="label_style"> Email</label>
                            <div class="controls">
                              <input type="text" id="email_contactus" class="form-control"
                                data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"
                                data-validation-regex-message="Enter Valid Email" aria-invalid="false" autocomplete="companyemail"
                                #email_contactus="ngModel" [(ngModel)]="owner.email_contactus" name="email_contactus"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                [ngClass]="{ 'is-invalid': ContactForm.submitted && email_contactus.invalid }" required />
                              <div *ngIf="ContactForm.submitted && email_contactus.invalid" class="invalid-feedback">
                                <div *ngIf="email_contactus?.errors?.required">Email ID is required</div>
                                <div *ngIf="email_contactus?.errors?.pattern">Email ID is invaild</div>
                              </div>
                              <div class="help-block"></div>
                            </div>
                          </div>
                      
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="mobile" class="label_style">Mobile Number</label>
                            <div class="controls">
                              <input type="text"  id="mobile_contactus" class="form-control" required=""
                                autocomplete="contactNumber" data-validation-containsnumber-regex="(\d)+" pattern="^[6-9]\d{9}$"
                                data-validation-containsnumber-message="Please enter a valid mobile number" aria-invalid="false"
                                [(ngModel)]="owner.mobile_contactus" #mobile_contactus="ngModel" name="mobile_contactus"
                                pattern="^[6-9]\d{9}$" minlength=10 maxlength=10
                                [ngClass]="{ 'is-invalid': ContactForm.submitted && mobile_contactus.invalid }" required />
                              <div *ngIf="ContactForm.submitted && mobile_contactus.invalid" class="invalid-feedback">
                                 <div *ngIf="mobile_contactus?.errors?.required">Mobile is required</div>
                                <div *ngIf="mobile_contactus?.errors?.pattern">Mobile Number is invalid</div> 
              
                              </div>
                              <div class="help-block"></div>
                            </div>
                          </div>
                      
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="fname1" class="label_style"> Course</label>
                            <input type="text" id="fname1" class="form-control" name="Course" data-toggle="tooltip"
                              autocomplete="off" data-trigger="hover" data-placement="top" data-title="Name"
                              [(ngModel)]="owner1.Course" name="Course" #Course="ngModel"
                              [ngClass]="{ 'is-invalid': ContactForm.submitted && Course.invalid }" required />
                            <div *ngIf="ContactForm.submitted && Course.invalid" class="invalid-feedback">
                              <div *ngIf="Course?.errors?.required">Course is required</div>
                            </div>
                          </div>
                    </div>
               
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea type="text" id="fname1" class="form-control" name="Course" data-toggle="tooltip"
                            autocomplete="off" data-trigger="hover" data-placement="top" data-title="Name"
                            [(ngModel)]="owner1.Message" name="Course" #Message="ngModel"
                            [ngClass]="{ 'is-invalid': ContactForm.submitted && Message.invalid }" required >
                           

                        </textarea>
                        <div *ngIf="ContactForm.submitted && Course.invalid" class="invalid-feedback">
                            <div *ngIf="Message?.errors?.required">Message is required</div>
                          </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn">Send Message</button>
                    </div>
                </div>
            </form>
            </div>
          </div>
        </div>-->
        
        <!-- <div class="community-shape-2">
            <img src="assets/images/community-shape-2.png" alt="Image">
        </div> -->
    <!--</div>
    
</div>-->




