<app-navbar></app-navbar>
<app-get-register></app-get-register>



<app-whychooseus></app-whychooseus>

<app-aboutus></app-aboutus>


<!-- <app-classes></app-classes> -->
<app-categories></app-categories>


<app-commingupclasses></app-commingupclasses>
<app-achievement></app-achievement>


<app-get-started></app-get-started>

<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="../assets/images/facebook-circle.png" alt="facebook" width="32" height="32">
            <p><a href="https://www.facebook.com/NipunaTechnologies/" title="Facebook_Nipuna" target="_blank">Like Us on<br>Facebook</a></p>
        </li>
   

        <li>
            <img src="../assets/images/map-marker.png" alt="Linkedin" width="32" height="32">
            <p ><a href="https://maps.google.com/?cid=752287483685534777" title="Linkedin_Nipuna" target="_blank">Follow Us on<br>Google Maps</a></p>
        </li>

        <li>
            <img src="../assets/images/instagram.svg" alt="Linkedin" width="32" height="32">

            <p ><a href="https://www.instagram.com/nipuna_technologies/" title="instagram_Nipuna" target="_blank"> Follow Us on <br> Instagram</a></p>

        </li>
        <li>
            <img src="../assets/images/whatsapp.png" alt="whatsapp" width="32" height="32">
            <p ><a href="https://api.whatsapp.com/send?phone=917997927111&text=HI" title="whatsapp_Nipuna" target="_blank"> Contact Us <br> Whats App</a></p>
        </li>
 
      
    </ul>
</div> 


<app-blog></app-blog>

<app-upcoming-events></app-upcoming-events>


<app-footer></app-footer>